@page
@model WebApplication5.Pages.test8Model

<h2>İsim: @Model.Ogrenci.Ad</h2>
<h2>Yaşı: @Model.Ogrenci.Yas</h2>
<h2>Ortalama: @Model.Ogrenci.Ortalama</h2>
<h2>Uyrugu: @Model.Ogrenci.Uyrugu</h2>